.title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.containerNet {
  display: flex;
  justify-content: space-around;
}

.network {
  display: flex;
  align-items: center;
  margin: 20px;
}

.link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: x-large;
  text-decoration: none;
  transition: 0.3s;
  margin: 10px;
}

.link:hover {
  transform: scale(1.2);
}

.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FaWhatsapp {
  font-size: 35px;
}

@media (width < 768px) {
  .containerNet {
    display: flex;
    flex-direction: column;
  }
  .network {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link{
    font-size: medium;
  }
}
