.title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.containerNet {
  display: flex;
  justify-content: space-around; /* Distribute networks evenly */
}

.network {
  display: flex;
  align-items: center;
  margin: 20px;
}

.link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: x-large;
  text-decoration: none;
  transition: 0.3s;
  margin: 10px;
}

.link:hover {
  transform: scale(1.2);
}

.container {
  margin: 50px;
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  align-items: center; /* Center sections horizontally */
}