.images{
    max-width:80%;
    margin-top: 25px;
    max-height: 150px;
    background-color: rgba(255, 255, 255, 0.304);
    border: solid 2px white;
    border-radius: 25px;
    align-self: center;
}
.container {
    width: 100%;
    padding-top: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.slider{
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 20px;
    cursor: grab;
}
.slider:active {
    cursor: grabbing;
}