.titles{
    color: white;
    margin-bottom: 40px;
}
.content{
    color: white;
    font-size:x-large;
    font-weight: 500;
    width: 80%;
    margin: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
}
.contentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 85%;
  }
  
.image {
    border: solid 3px white;
    padding: 10px;
    border-radius: 50px;
    width: 350px;
    height: auto;
  }