.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.card{
    width: 300px;
    align-items: center;
    text-align: center;
    border: solid 2px white;
    border-radius: 10px;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.image{
    width: 280px;
    height: 280px;
}
.content {
    max-height: 100px; /* o cualquier otro valor */
    overflow-y: auto;
    color: white;
    scrollbar-width:none;
  }
